<div class="container-fluid">
	<h2 class="text-center mb-3">Update User</h2>
  
  
  <section class="row justify-content-center mt-3">
    <section class="col-12 col-sm-8 col-md-4">
        <form name="editUserForm"  #editUser="ngForm" (ngSubmit)="updateUser(user._id)">
            <div class="form-group">
              <label for="user-name">User Name</label>
              <input type="text" id="user-name" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Enter User Name" required>
            </div>
            <div class="form-group">
              <label for="user-email">User Email</label>
              <input type="email" id="user-email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Enter User Email" required>
            </div>
            <div class="form-group">
              <label for="user-phone">Phone Number</label>
              <input type="text" id="user-phone" class="form-control" name="phone" [(ngModel)]="user.phone" placeholder="Enter User Phone Number" required>
            </div>
            <div>
              <button type="submit" [disabled]="editUser.invalid || editUser.pristine" class="btn btn-success offset-5">Update</button>
            </div>
          </form>
    </section>
  </section>
</div>
